<main>
<section class="formData">
	<h2>RocketSend</h2>
	<form>
		<fieldset>
			<legend>Войти</legend>
			<div class="inputContainer">
				{{{ login }}}
				<label for="login" class="label">Логин</label>
			</div>
			<div class="inputContainer">
				{{{ password }}}
				<label for="password" class="label">Пароль</label>
			</div>
			{{{ button }}}
		</fieldset>
	</form>
	{{{ link }}}
</section>
</main>
