<main class="page">
<section class="form-card">
	<form action="" method="get" class="form-data">
		<fieldset class="fieldset">
			<legend class="legend">Вход</legend>

			<div class="form_input">
				{{{ login }}}
				<label for="login" class="label">Логин</label>
			</div>

			<div class="form_input">
				{{{ password }}}
				<label for="password" class="label">Пароль</label>
			</div>

				{{{ button }}}
		</fieldset>
	</form>
	{{{ link }}}
</section>
</main>
