.input {
  border-radius: var(--radius);
  font-size: 1rem;
  background: var(--white);
  text-align: center;
  color: var(--dark);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  line-height: 4vh;
  border: 1px solid var(--grey);
}

.input:focus-visible {
  border: none;
  outline: 1px solid var(--success);
  outline-offset: 2px;
}

.input:valid {
  color: var(--valid);
  border: 1px solid var(--valid);
}

.input:invalid {
  border-color: var(--akcent);
  background-color: rgba(255, 48, 48, 0.1);
}

.label {
  color: var(--grey);
  top: 8px;
  left: 15px;
  position: absolute;
}

.input:focus+.label {
  padding: 0 3px;
  color: var(--success);
  top: -12px;
  background: var(--white);
  width: fit-content;
  transition: all 200ms;
  border-radius: var(--radius);
}
