.button {
  color: var(--white);
  background: var(--akcent);
  border-radius: var(--radius);
  margin-bottom: 2vh;
  width: 80%;
  height: 5vh;
}

.button:hover {
  opacity: var(--opacity);
  transition: opacity 0.3s linear;
}

.button_outline {
  color: var(--grey);
  background: var(--light);
  border-radius: var(--radius);
  width: 80%;
  height: 5vh;
}


.button_outline:hover {
  color: var(--white);
  background: var(--success);
  transition: all 0.3s linear;
}

.button_link {
  color: var(--success);
  background: none;
  font-size: 0.8rem;
  margin-bottom: 3vh;
  font-weight: 600;
}

.button_link:hover {
  color: var(--akcent);
  transition: all 0.3s linear;
}
