.button {
  font-weight: 500;
  width: 17vmax;
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: white;
  border-style: none;
  padding: 10px;
  background-color: var(--darkRed);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(51 51 51 / 60%);
  transition: transform 0.2s;
}

.button:hover {
  transform: scale(1.05);
}
