.profile_row {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 5px 0;
    border-bottom: 1px solid var(--light);
    font-size: 14px;
}

.profile_row:hover {
    opacity: 0.7;
}

p[name] {
    font-weight: 600;
}
