<aside class="asideNavChats">
	<header class="headerNavChats">
		<h3>Здесь меню пользователя</h3>
	</header>
	{{{ inputSearch }}}
	<nav class="navChats">
		<div class="childNavChats">
			{{{ itemsChatUser }}}
		</div>
	</nav>
</aside>
