<aside class="asideNavChats">
	<header class="headerNavChats">
		<div class="avatarUserPrf">
			{{{ linkProfile }}}
		</div>
		{{{ inputSearch }}}
	</header>

	<nav class="navChats">
		<div class="childNavChats">
			{{#each itemsChatUser}}
				{{{this}}}
			{{/each}}
		</div>
	</nav>
</aside>
