<main>
	<section class="formData">
		<h2 class="title">Изменить пароль</h2>
		<form action="" method="get">
			<fieldset>
				<legend>Изменить пароль</legend>
				<div class="inputContainer">
					{{{ oldPassword }}}
					<label for="oldPassword" class="label">Старый пароль</label>
				</div>
				<div class="inputContainer">
					{{{ password }}}
					<label for="password" class="label">Новый пароль</label>
				</div>
				<div class="inputContainer">
					{{{ password_2 }}}
					<label for="password" class="label">Повторите новый пароль</label>
				</div>
				{{{ button }}}
			</fieldset>
		</form>
	</section>
</main>
