<main>
	<section class="profileData">
		<div class="sectionAvatar">
			<div class="fotoUser">
				{{{ avatar }}}
				<label for="avatar" class="fotoUserLabel">Логин</label>
			</div>
			<h2>Иван Иванов</h2>
			{{{ logOut}}}
		</div>
		<div class="profileDataSection">
			<fieldset class="formBorder">
				<legend>Личные данные</legend>
				<form class="formUser">
					<div class="rowProfile">
						<p name="email">Почта
						<p>pochta@yandex.ru</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="login">Логин
						<p>ivanivanov</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="first_name">Имя
						<p>Иван</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="second_name">Фамилия
						<p>Иванов</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="display_name">Имя в чате
						<p>Иван</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="phone">Телефон
						<p>+7 909 967 30 30</p>
						</p>
					</div>
					{{{ button }}}
				</form>
			</fieldset>
			<fieldset class="activFormBorder">
				<legend class="activFormName">Изменить пароль</legend>
				<form class="formPassword">
					<div class="rowProfile">
						<p name="old_password">Старый пароль
						<p>********</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="new_password">Новый пароль
						<p>**********</p>
						</p>
					</div>
					<div class="rowProfile">
						<p name="new_password">Повторите новый пароль
						<p>**********</p>
						</p>
					</div>
				</form>
				{{{ buttonPass }}}
			</fieldset>
		</div>
	</section>
</main>
