<dialog id="dialog" class="dialog-form">
	<form method="dialog" class="dialog_wrapper">
		<fieldset>
			<legend>{{label}}</legend>
				{{{ content }}}
				{{{ save }}}
		</fieldset>
	</form>
</dialog>
