include ./mixin/inputConteiner.pug

block content
	section.formData
		h2 RocetSend
		form(action="", method="")
			fieldset
				legend Войти
				+inputConteiner('Логин')(name='login', type='text', required, inputmode='text')
				+inputConteiner('Пароль')(name='password', type='password', required)
				button(type="")
					a(href="../chats/chats.pug") Войти
		a(href="../register/register.pug") Ещё не зарегистрированы?