<div class="userNavChat">
	<div class="avatarUser"></div>
	<div class="nameUserChatStory">
		<h3 class="nameUser">{{ name }}</h3>
		<p class="lastMessage">{{ lastMessage }}</p>
	</div>
	<div class="timeUserAlert">
		<time class="lastTime">{{ lastTime }}</time>
		<p class="alertUser">{{ alertMsg }}</p>
	</div>
</div>
