:root {
    --dark: #0f172a;
    --light: #e2e8f0;
    --white: #f8fafc;
    --akcent: #da0038;
    --grey: #64748b;
    --success: #e3a3b4;
    --valid: #84cc16;
    --opacity: 0.7;
    --radius: 1rem;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  src: url("./fonts/RobotoFlex.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  text-decoration: none;
}

body {
    height: 100dvh;
    font-family: Roboto, sans-serif;
}

.page {
    font-size: 16px;
    background: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    container-type: inline-size;
    container-name: page;
}



