@import "../index.css";
@import "./fonts.css";

html,
body {
	font-family: 'Arsenal', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: var(--darkGrey);
}

h1 {
	color: aliceblue;
	font-weight: 400;
}

div {
	color: aliceblue;
}