@import url("../pages/Home/home.css");

:root {
  --darkRed: #8c0d17;
  --darkGrey: #496373;
  --lightGrey: #ced5da;
  --danger: #ff0013;
  --white: #fff;
  --transparent: #8c0d181c;
  --valid: #0c5d00;
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  src: url("./fonts/RobotoFlex.ttf");
}

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  text-decoration: none;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  justify-content: center;
  width: 100%;
  background-color: var(--darkGrey);
  font-family: Roboto, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}
