.avatar {
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    background: var(--darkGrey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar_img {
    border-radius: 50%;
    max-height: 100%;
    object-fit: cover;
}
