:root {
	--darkRed: #8C0D17;
	--darkGrey: #496373;
	--lightGrey: #D8E8F2;
	--white: #ffffff;
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 100 1000;
	font-stretch: 25% 151%;
	src: url("/src/public/fonts/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf");
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}