.formSendMessage {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	margin: 15px;
	border-top: 1px solid var(--lightGrey);
	padding-top: 15px;
	margin-left: 30px;
	margin-right: 30px;
}

.imgSendMessage {
	width: 30px;
	height: auto;
	padding: 0 15px 0 15px;
	color: var(--darkRed);
}

.inputMessage {
	width: 100%;
	border-radius: 15px 0 0 15px;
	padding-left: 15px;
	border: 1px solid var(--lightGrey);
	outline: none;
}

.inputMessage:focus,
.inputMessage:active {
	border: 1px solid var(--darkRed);
}