block content
	form.formSendMessage
		img.imgSendMessage(src="../../public/clip.png", alt="")
		input.inputMessage(type="text", name="message")
		button.btnSendMessage
			img.imgSendMessage(src="../../public/send.svg", alt="")
		img.imgSendMessage(src="../../public/microphone.svg", alt="")