include ../../components/mixin/liSendChat.pug

block content

+liSendChat('А', 'Андрей', 'Изображение', '10:49', 2)
+liSendChat('К', 'Киноклуб', 'Вы: стикер', '12:00', 0)
+liSendChat('И', 'Илья', 'Друзья, у меня для вас особенный выпуск новостей!...', '15:12', 4)
+liSendChat('В', 'Вадим', 'Вы: Круто!', 'Пт', 0)
+liSendChat('ТаТ', 'тет-а-теты', 'И Human Interface Guidelines и Material Design рекомендуют...', 'Ср', 0)
+liSendChat('1,2,3', '1, 2, 3', 'Миллионы россиян ежедневно проводят десятки часов свое...', 'Пн', 0)
+liSendChat('DD', 'Design Destroyer', 'В 2008 году художник Jon Rafman начал собирать...', 'Пн', 0)
+liSendChat('Day', 'Day.', 'Так увлёкся работой по курсу, что совсем забыл его анонсир...', '1 Мая 2020', 0)
+liSendChat('СР', 'Стас Рогозин', 'Можно или сегодня или завтра вечером.', '12 Апр 2020', 0)