.chatUser {
	display: grid;
	grid-template-columns: 20% auto 15%;
	background-color: var(--white);
	width: 100%;
	height: auto;
	border-bottom: solid 1px var(--lightGrey);
	align-items: center;
	justify-items: start;
}

.chatUser:hover {
	opacity: 0.90;
}

.chatAvaUser {
	width: 40px;
	height: 40px;
	background-color: var(--lightGrey);
	border-radius: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 10px;
}

.avatarUser {
	font-size: 13px;
	color: var(--white);
	text-align: center;
}

.nameUser {
	display: flex;
	flex-direction: column;
	color: var(--darkGrey);
	padding-left: 10px;

	&>h3 {
		padding-bottom: 3px;
		font-size: 16px;
		font-weight: 500;
	}

	&>p {
		font-size: 13px;
		font-weight: 200;
	}
}

.storyUser {
	display: flex;
	flex-direction: column;
	color: var(--lightGrey);
	font-weight: 200;
	font-size: 12px;
	align-items: center;

	&>time {
		padding-bottom: 10px;
	}
}

.alertUser {
	width: 20px;
	height: 20px;
	background-color: var(--darkRed);
	border-radius: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;

	&>p {
		font-size: 12px;
		color: var(--white);
		text-align: center;
	}
}