.link_button {
    font-size: 2.5vh;
    color: var(--white);
    background: var(--akcent);
    border-radius: var(--radius);
    margin-bottom: 2vh;
    width: 30dvmin;
    padding: 1vh 3vh;
    text-align: center;
}

.link_button:hover {
    opacity: var(--opacity);
    transition: opacity 0.3s linear;
}

.link {
    color: var(--success);
    margin-bottom: 3vh;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

.link:hover {
    color: var(--akcent);
    transition: all 0.3s linear;
}
