<section class="sectionMessage">
	<header class="headerMessage">
		<h3>Здесь меню чата</h3>
	</header>
	<div class="dialogChat">
		<p class="dialog dialogLeft">Привет, привет!</p>
		<p class="dialog dialogRight">И тебе приветиков вагон!</p>
	</div>
	<form class="formSendMessage">
		{{{ message }}}
	</form>
</section>
