block variables
html(lang="ru")
	head
		meta(charset="utf-8")
		title= "RocetSend"
		link(rel="stylesheet", href="./public/main.css")
		link(rel="shortcut icon", href="./public/favicon.png", type="image/png")
		script(src="/src/index.js" type="module")
	body
		block content